body {
	margin:0 auto;
	width:1000px;
	padding:0 10px;
	font-size: 18px;
}

.header {
	width: 100%;
	height: 100px;
}

.content {
	width: 600px;
	float: left;
}
.sidebar {
	width: 300px;
	float: left;
	padding: 10px;
}

.auth {
	background-color: #e6e6e6;
	padding: 10px;
	border: 1px solid gray;
}

.news_block {
	padding: 10px;
	border-right: 2px solid gray;
	background-color: #e6e6e6;
	margin-top: 10px;
}

.vote_mark_status {
    font-size: 14px;
    color: #7d7d7d;
}

.comm_status {
    font-size: 14px;
    color: #7d7d7d;
}

.error {
    color: red;
    font-size: 14px;
}

.successfull {
    color: green;
    font-size: 14px;
}

.author {
    color: #7d7d7d;
    font-size: 14px;
}

h4 {
    margin: 0px;
}